#my-data{
    text-align: center;
}
.list{
    text-align: center;
    list-style: none;
    font-size: 20px;
}
#my-data h1{
    font-size: 50px;
    font-family: "M PLUS 1p" ;
}
#my-data h3{
    font-size: 30px;
}

#my-personal-table{
    font-size: 25px;
    font-family: "M PLUS Rounded 1c";
    width: 30%;
    min-width: 300px;
    border:dashed 1px;
    border-top:0px ;
    border-bottom: 0px solid;
    border-color: black;
}

#my-personal-table td{
    border-bottom: 0px solid;
}

#my-personal-table th{
    border-bottom: 0px solid;
}

.slide-img{ 
  height: 500px;
  object-fit: cover;
}

h3{
    font-family: "M PLUS Rounded 1c";
}
#twitter{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 25px;
}

.icon{
    font-size: 30px;
}

#youtube{
    color: red;
}

.content{
    padding: 1em;
}

#tiktok{
    color: black;
    
}

#instagram{
    color: white;
    background: linear-gradient(blue,pink);
    margin: 3px;
}
body{
    background-image: url("haikei.jpg");
}
tr:nth-child(odd){
    background:rgba(65, 56, 56, 0.249);
}

#tweet{
    text-align: center;
    margin-left:auto;
    margin-right:auto
}